{% extends 'user_base.html' %}

{% block content %}

<div id="grammar-quiz">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('profile') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('grammar.grammar') }}">Grammar</a></li>
            <li class="breadcrumb-item active" aria-current="page">Grammar Quiz</li>
        </ol>
    </nav>
    <div class="card" id="grammar-card">
        <h3>Grammar</h3>
        <form action="#" method="post">
            {% for question in questions.questions %}
            <div class="mb-3">
                <div class="card-body">
                    <h5 class="card-title mb-2">{{ question.question }}</h5>
                    <div class="form-group">
                        {% for option in question.options %}
                        <div class="form-check">
                            <input class="form-check-input {% if option == question.correct_answer %}correct{% endif %}"
                                type="radio" id="{{ option }}" name="{{ question.question }}" value="{{ option }}">
                            <label class="form-check-label" for="{{ option }}">{{ option }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="d-flex justify-content-end align-items-center">
                <a>Skip</a>
                <button type="button" id="submitBtn" class="btn btn-primary">Submit Answer</button>
            </div>
        </form>
    </div>
</div>

<!-- Answer Status Modal -->
<div class="modal fade" id="answerStatusModal" tabindex="-1" role="dialog" aria-labelledby="answerStatusModalLabel"
    aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalContent">
            <div class="modal-body">
                <p id="answerStatusMessage"></p>
            </div>
            <div class="d-flex flex-row justify-content-end p-3 grammar-modal-buttons">
                <a href="{{url_for('profile')}}" class="btn btn-secondary">Home</a>
                <a href="{{ url_for('grammar.grammar_quiz') }}" class="btn btn-secondary ms-2"
                    id="nextQuestionButton">Next Question</a>
                <a type="button" class="btn btn-secondary ms-2" id="retryButton">Retry</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}