{% extends 'user_base.html' %}

{% block content %}
    <div id="grammar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{ url_for('profile') }}">Home</a></li>
              <li class="breadcrumb-item"><a href="{{ url_for('grammar.grammar') }}">Grammar</a></li>
              <li class="breadcrumb-item active" aria-current="page">Pronouns</li>
            </ol>
        </nav>
        <iframe style="max-width:100%" src="https://wordwall.net/embed/07f47308bb7a4e5d86c33e90aa0389c6?themeId=1&templateId=3&fontStackId=0" width="100%" height="600vh" frameborder="0" allowfullscreen></iframe>
{% endblock %}